@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Nikosh";
    src: url("/fonts/Nikosh.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}